body {
    font: normal 11px auto verdana, arial, helvetica, sans-serif;
    color: #4f6b72;
    background: #e6eae9;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}





